.photo-grid {
    max-width: 1184px;
    display: grid;
    margin: 0 auto;
    margin-bottom: 92px;
    text-align: center;
    grid-template-columns: repeat(4, 284px);
    grid-template-rows: repeat(3, 213px);
    grid-gap: 16px;
}

@media screen and (max-width: 1024px) {
    .photo-grid{
        max-width: 928px;
        grid-template-columns: repeat(3, 300px);
        grid-template-rows: repeat(4, 225px);
        grid-gap: 14px;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid{
        max-width: 720px;
        grid-template-columns: repeat(2, 352px);
        grid-template-rows: repeat(6, 264px);
        grid-gap: 16px;
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 320px) {
    .photo-grid{
        max-width: 288px;  
        margin-bottom: 64px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fit, 216px);
        grid-gap: 12px;
    }
  }

  /*elastic layout*/
  @media screen and (max-width: 1279px) and (min-width: 1025px) {
    .photo-grid{
        max-width: 95vw;          
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 1023px) and (min-width: 769px) {
    .photo-grid{
        max-width: 93vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
  }

  @media screen and (max-width: 767px) and (min-width: 321px) {
    .photo-grid{
        max-width: 97vw;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
  }

  @media screen and (min-width: 1281px) {
    .photo-grid{
        max-width: 80vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        
    }
  }

  