.lead {
    max-width: 984px;
    min-height: 1005px;
    position: relative;
    margin: 0 148px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 92px;
}