.header__logo {
    min-width: 176px;
    min-height: 52px;
    background-image: url(../../../images/__logo.svg);
    background-position: center;
    background-repeat:  no-repeat;
    background-size: contain;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .header__logo{
        min-width: 142px;
        min-height: 42px;
      
    }
}
