.header {
    /*max-width: 1184px;*/
    max-width: calc(100vw - 48px * 2);
    max-height: 52px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 28px 48px 56px 48px;

}

@media screen and (max-width: 1024px) {
    .header {
        max-width: 928px;
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        max-width: 720px;
        margin: 28px 24px 48px 24px;
    }
}