.place__paragraph {
  padding-bottom: 26px;
  margin: 0;
}

.place__paragraph:last-child {
  padding-bottom: 0; 
} 

@media screen and (min-width: 321px) and (max-width: 767px) {
  .place__paragraph{
    padding-bottom: 5%;
    }
}