.footer__copyright {
font-family: Inter;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
text-align: right;

}


@media screen and (max-width: 320px) {
    .footer__copyright{
        font-size: 14px;
        line-height: 14px;
        text-align: left;
    }
  }


    /*elastic layout*/
@media screen and (min-width: 1281px) {
    .footer__copyright {
        font-size: .8vw;
        line-height: 100%;
      }
  }

@media screen and (min-width: 321px) and (max-width: 767px) {
    .footer__copyright  {
        font-size: 1.5vw;
        line-height: 100%;
      }
}