.menu__link {
font-family: Inter;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;
color: #FFFFFF;
text-decoration: none;
vertical-align: middle;
padding: 0;
margin: 0;
}

@media screen and (max-width: 320px) {
    .menu__link{
        font-size: 24px;
        line-height: 24px;  
    }
  }



  /*elastic layout*/
@media screen and (min-width: 1281px) {
    .menu__link {
        font-size: 1.1vw;
        line-height: 100%;
      }
  }


 @media screen and (min-width: 321px) and (max-width: 767px) {
    .menu__link {
        font-size: 2.5vw;
        line-height: 100%;
      }
}