.intro {
    max-width: 690px;
    /*min-height: 429px;*/
    margin-left: 148px;
    margin-bottom: 92px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 1024px) {
    .intro {
      margin: 0 0 92px 48px;
    }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 auto;
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    margin-bottom: 64px;
  }
}

/*elasctic layout*/
@media screen and (max-width: 767px) and (min-width: 321px) {
  .intro{
      max-width: 90vw;
    }
}

@media screen and (min-width: 1281px) {
  .intro{
     margin-left: calc((100vw - 80vw) / 2);
     max-width: 80vw;
    }
}