.cover {
    max-width: 1184px;
    margin: 0 48px 77px 48px;
    position: relative;
   
}

@media screen and (max-width: 1024px) {
    .cover{
        max-width: 100vw;
        margin: 0 0 92px 0;
    }
  }

@media screen and (max-width: 768px) {
    .cover{
      margin-bottom: 88px;
    }
}


@media screen and (max-width: 320px) {
  .cover{
    margin-bottom: 64px;
  }
}


 /*elastic layout*/
 @media screen and (min-width: 1281px) {
  .cover{
    max-width: 80vw;
    margin: 0 auto;
    margin-bottom: 92px;
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .cover {
    margin-bottom: 64px;
    }
}
