.place__link {
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  margin: 0;
  padding: 0;
  color: #fff;
}

.place__link:hover {
    opacity: 0.8;
    transition: .2s;
}

/*elastic layout*/

@media screen and (min-width: 500px) and (max-width: 767px) {
  .place__link{
    font-size: 11px;
    line-height: 100%;
  }
}