.cover__background {
  position: absolute;
  top: 0;
  max-width: 1184px;
    /*min-height: 100%;*/
  z-index: -1;
  opacity: calc(1 - 0.3);
  transition: .4s;
  padding-bottom: 100%;
}

.cover:hover .cover__background {
  opacity: calc(1 - 0.7);
  transition: .4s;
}

 /*elastic layout*/
 @media screen and (min-width: 1281px) {
  .cover__background{
    max-width: 100%;
    object-fit: cover;
    }
}

@media screen and (max-width: 1279px) {
  .cover__background{
    max-width: 99vw;

    }
}