.lead__caption {
  align-self: flex-start;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-align: left;
  max-width: 100vw;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: 24px;  
  }
}

/*elastic layout*/
@media screen and (min-width: 1281px) {
  .lead__caption{
    font-size: .7vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    margin-left: 16px;  
  }
}