.cover__title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  padding-bottom: 32px;
  margin: 0 auto;
  max-width: 560px;
  z-index: 1;
 }

@media screen and (max-width: 320px) {
  .cover__title{
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
   }
}


  /*elastic layout*/


  @media screen and (min-width: 321px) and (max-width: 767px) {
    .cover__title {
      max-width: 100%;
      font-size: 8vw;
      line-height: 110%;
      min-width: 320px;
      }
  }

  @media screen and (max-width: 319px) {
    .cover__title{
      font-size: 8vw;
      line-height: 110%;
      padding-bottom: 3%;
      }
  }
