.footer {
  max-width: 1184;
  max-height: 18px;
  margin: 0 48px 24px 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width: 1024px) {
  .footer{
      max-width: 1024px;
  }
}