.place__url-heading {
  width: 100%;
  padding-bottom: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin: 0;
}