.header__lang-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    color: #FFFFFF;
    padding-bottom: 5px;
    /* добавлены новые свойства, блок флексовый*/
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 320px) {
    .header__lang-links{
        font-size: 18px;
        line-height: 20px;
      
    }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .header__lang-links{
        font-size: 16px;
        line-height: 20px;
    }
  }
  