.menu__links {
  padding-right: 18px;
}

.menu__links:last-child {
  padding-right: 0;
}

@media screen and (max-width: 320px) {
  .menu__links{
    display: list-item;
    padding: 0 0 32px 0;
  }
  .menu__links:last-child {
    padding-bottom: 0;
  }

}


@media screen and (min-width: 321px) and (max-width: 767px) {
  .menu__links {
    padding-right: 1vw;
    }
}
