.intro__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
  padding-bottom: 40px;
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}

/*elastic layout*/
@media screen and (max-width: 600px) and (min-width: 321px) {
  .intro__title{
    font-size: 9vw;
    line-height: 115%;
  }
}

